<h1> Articles Index </h1>
<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Action</th>
  </thead>

  <tbody>
    <% @articles.each do |article|%>
      <tr>
        <td><%=article.title %></td>
        <td><%=article.description %></td>
        <td> Action whatever</td>
      </tr>
    <% end %>
  </tbody>  
</table>